build/
docs/
CMakeFiles
CMakeCache.txt
*.vcxproj
*.filters
cmake_install.cmake
*.sln
*.sdf
*.suo
*.opensdf
*.ipch
*.dir
*.lib
Win32
Debug
Release
install_manifest.txt
*.user
.DS_Store
CPackConfig.cmake
CPackSourceConfig.cmake
*.wixobj
leapserial-config.cmake
leapserial-configVersion.cmake
install_manifest_*.txt
Testing
DartConfiguration.tcl
leapserial-*-*.dmg
leapserial-*-*.deb
leapserial-*-*.rpm
leapserial-*-*.msi
leapserial.xcodeproj
*.nupkg
lib/*.*
leapserial-*-*.zip
_CPack_Packages
.kdev4
leapserial.kdev4
CTestTestfile.cmake
LeapSerialTargets.cmake
leapserial/LeapSerialConfig.h
